# Arquivos de byte-code e otimizados do Python
__pycache__/
*__pycache__
*.py[cod]
*$py.class
*.pyc


# Arquivos de distribuição / empacotamento
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Instaladores e logs do pip
pip-log.txt
pip-delete-this-directory.txt

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de bancos de dados
*.db
*.sqlite3

# Arquivos de configuração de IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de teste e cobertura de código
.pytest_cache/
.coverage
htmlcov/
.tox/

# Arquivos de documentação gerados
docs/_build/

# Notebooks Jupyter
.ipynb_checkpoints

# Arquivos de segredos e configurações locais (NUNCA versione estes arquivos)
*.env
local_settings.py
